# Ban IP Addresses
Order Allow,Deny
Deny from 97.81.142.70
Deny from 74.82.64.144
Deny from 74.82.64.160
Deny from 173.216.111.230
Allow from all

RewriteEngine on
RewriteCond %{HTTP_HOST} ^fortunecookiesgalore\.com
RewriteRule ^(.*)$ http://www.fortunecookiesgalore.com/$1 [R=permanent,L]

RewriteCond %{HTTP_HOST} ^(www\.)?haveafortune\.com
RewriteRule ^(.*)$ http://www.fortunecookiesgalore.com/$1 [R=permanent,L]

RewriteRule ^fortunes/(\d+)$ /$1 [R=permanent,L]

